<% provide(:title, "Gallery") %>
<div class="row text-center px-5">
  <% Dir.glob('app/assets/images/gallery/*').map do |path| %>
    <div class="col-md-3 col-sm-6 my-2">
      <%= image_tag "gallery/#{ File.basename(path) }", size: "500x300", onclick:"openModal();currentSlide(1)", class: "hover-shadow img-fluid" %>
    </div>
  <% end %>
</div>

<div id="myModal" class="modal featurette-divider ">

  <div class="modal-content">
    <span class="close cursor text-dark" onclick="closeModal()">&times</span>

    <% Dir.glob('app/assets/images/gallery/*').map do |path| %>
      <div class="mySlides">
        <%= image_tag "gallery/#{ File.basename(path) }", width: "1200", class: "img-fluid" %>
      </div>
    <% end %>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

  </div>
</div>
<%= javascript_include_tag 'gallery.js' %>
<%= stylesheet_link_tag "gallery", "data-turbo-track": "reload" %>
